@model AppAcademico.Models.Eval

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>

<div>
    <h4>Evaluaciones</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCurso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEval">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
